header {
  background: url("../assests/images/header-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-bottom: 100px;
}

header .header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  width: 100%;
  color: white;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
}

header .header__navbar .header__navbar-center {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .header__navbar .header__navbar-right, header .header__navbar .header__navbar-left {
  height: 10vh;
  width: 40%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

header .header__navbar .header__navbar-right a, header .header__navbar .header__navbar-left a {
  display: inline-block;
  width: 24%;
  color: white;
  margin-top: 5vh;
  height: 50%;
}

header .header__navbar .header__navbar-right {
  text-align: end;
}

header .header__main-container {
  color: white;
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__main-container .header__title {
  height: 100%;
  width: 60%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__main-container .header__title p {
  color: white;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}

header .header__main-container .header__title h1 {
  width: 998px;
  margin-top: 0;
  margin-bottom: 32px;
  color: white;
  font-size: 96px;
  font-family: Varela Round, sans-serif;
  text-transform: uppercase;
  font-style: 70%;
  font-weight: bold;
}

header .header__main-container .header__title .colored-block {
  background: #E8C300;
  width: 60px;
  height: 6px;
  margin-bottom: 32px;
}

header .header__main-container .header__title .header__title-btn {
  width: 200px;
  height: 60px;
  margin: 0 16px;
  background: transparent;
  color: white;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

header .header__main-container .header__title .header__title-btn:hover {
  background: #E8C300;
}

header .header__main-container .header__schedule {
  color: white;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  text-transform: title;
  font-weight: bold;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

header .header__main-container .header__schedule, header .header__main-container .header__social-media {
  width: 20%;
}

header .header__main-container .header__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .header__main-container .header__social-media div {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-transform: none;
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

img {
  padding: 0;
}

.about {
  width: 100%;
  margin: 0 auto;
}

.about .about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 475px;
  padding-bottom: 100px;
}

.about .about__wrapper .about__left {
  text-align: center;
  width: 50%;
}

.about .about__wrapper .about__left .about__left-title {
  width: 100%;
  color: black;
  font-size: 36px;
  font-family: Banny, sans-serif;
  text-transform: uppercase;
}

.about .about__wrapper .about__left .about__text-item {
  color: black;
  font-size: 14px;
  font-family: Banny, sans-serif;
  text-transform: none;
  font-weight: 400;
  line-height: 24px;
  width: 80%;
  margin: 0 auto;
}

.about .about__wrapper .about__right {
  width: 50%;
  height: 100%;
  background: url("../assests/images/about-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about .about__wrapper .about__right .about__yellow-box {
  height: 210px;
  width: 210px;
  border: 20px solid #E8C300;
  position: absolute;
  right: -50px;
  top: 150px;
}

body {
  width: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */