header {
  background: url("../assests/images/header-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

header .navbar-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  width: 90%;
  margin: 0 auto;
  color: white;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
}

header .navbar-section .center-section {
  position: absolute;
  top: 30px;
  left: 45%;
}

header .navbar-section .right-section, header .navbar-section .left-section {
  height: 10vh;
  width: 40%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

header .navbar-section .right-section a, header .navbar-section .left-section a {
  display: inline-block;
  width: 24%;
  color: white;
  margin-top: 5vh;
  height: 50%;
}

header .navbar-section .right-section {
  text-align: end;
}

header .header__main_container {
  color: white;
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__main_container .title {
  height: 100%;
  width: 60%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__main_container .title p {
  color: white;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}

header .header__main_container .title h1 {
  margin-top: 0;
  margin-bottom: 32px;
  color: white;
  font-size: 96px;
  font-family: Varela Round, sans-serif;
  text-transform: uppercase;
  font-style: 70%;
  font-weight: bold;
}

header .header__main_container .title .colored-block {
  background: #E8C300;
  width: 60px;
  height: 6px;
  margin-bottom: 32px;
}

header .header__main_container .title button {
  width: 200px;
  height: 60px;
  margin: 0 16px;
  background: transparent;
  color: white;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

header .header__main_container .title button:hover {
  background: #E8C300;
}

header .header__main_container .schedule {
  color: white;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  text-transform: title;
  font-weight: bold;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

header .header__main_container .schedule, header .header__main_container .social-media {
  width: 20%;
}

header .header__main_container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .header__main_container .social-media div {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-transform: none;
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */